[submodule "themes/devise"]
	path = themes/devise
	url = git@github.com:flowstone/hugo-theme-devise.git
[submodule "content/post"]
	path = content/post
	url = git@github.com:flowstone/blog-articles.git

[submodule "themes/hugo-theme-reimu"]
	path = themes/hugo-theme-reimu
	url = https://github.com/flowstone/hugo-theme-reimu.git
