.sidebar{
    /*position:absolute;
    height:100%;
    border:1px solid blue;*/
}
body,ul,li,a,p,div,span,img{
    background:#3f3f3f;
    color:#999;
}
#main{
    margin:0px;
    padding-top:80px;
}

/* 作者 siderbar */
.sidebar{
    height:100%;
    border:1px solid red;
}
/* 最新文章 */
.archive__subtitle{
  border:0px;
}
/* 最新文章 列表项目 */
.list__item{
    border:1px solid #2f2f2f;
    margin-bottom:20px;
    padding-left:20px;
    border-radius: 8px;
    box-shadow: 4px 4px 18px rgba(0,0,0,0.46);
}
/* 页脚 */
.footer__custom{
    /*border:1px solid red;*/
    position:relative;
    margin-top:20px;
    float:left;
    width:100%;
    text-align:center;
}
/* links */
.links_custom{
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    float:left;
}
.links_custom li a{
    padding:0px;
    text-decoration:none;}

/********************内容页*/


