name: Deploy to Surge

on:
  push:
    branches:
      - main  # 当 main 分支有代码推送时触发部署
  workflow_dispatch:
  
jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      HUGO_VERSION: 0.128.0
    steps:
      - name: Install Hugo CLI
        run: |
          wget -O ${{ runner.temp }}/hugo.deb https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/hugo_extended_${HUGO_VERSION}_linux-amd64.deb \
          && sudo dpkg -i ${{ runner.temp }}/hugo.deb
      - name: Install Dart Sass
        run: sudo snap install dart-sass
        
      - name: Install Surge
        run: npm install -g surge  # 全局安装 Surge

      - name: Install Node.js dependencies
        run: "[[ -f package-lock.json || -f npm-shrinkwrap.json ]] && npm ci || true"
      - name: Build with Hugo
        env:
          HUGO_CACHEDIR: ${{ runner.temp }}/hugo_cache
          HUGO_ENVIRONMENT: production
        run: |
          hugo \
            --minify \
            --baseURL "http://spotted-shelf.surge.sh/"

      - name: Deploy to Surge
        env:
          SURGE_LOGIN: xueyao.me@gmail.com  # 替换为你的 Surge 登录邮箱
          SURGE_TOKEN: ${{ secrets.SURGE_TOKEN }}  # 使用之前添加的 Secret
        run: surge ./public spotted-shelf.surge.sh  # 替换为你的构建目录和 Surge 域名
